<i class="fa fa-circle" ng-if="rating >= 1"></i>
<i class="fa fa-circle" ng-if="rating >= 2"></i>
<i class="fa fa-circle" ng-if="rating >= 3"></i>
<i class="fa fa-circle" ng-if="rating >= 4"></i>
<i class="fa fa-circle" ng-if="rating >= 5"></i>
<i class="fa fa-dot-circle-o" ng-if="rating % 1 > 0"></i>
<i class="fa fa-circle-o" ng-if="rating <= 0"></i>
<i class="fa fa-circle-o" ng-if="rating <= 1"></i>
<i class="fa fa-circle-o" ng-if="rating <= 2"></i>
<i class="fa fa-circle-o" ng-if="rating <= 3"></i>
<i class="fa fa-circle-o" ng-if="rating <= 4"></i>